@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>

<div class="container">
	<div class="screen">
		<div class="screen__content">
                <p>@ViewData["Message"]</p> 
                <p>Library Managmenet system to manage book stock or author information.</p>
        </div>
    </div>
</div>